<header>
	<div class="main_container">
		<div class="header_title">
			<h1>Documentation pour le futur projet: Our School On Line</h1>
		</div>
	</div>

</header>
<!-- ########## les  couleurs -->
<div class="colors">
<h1> Les couleurs</h1>
	<table>
		<tr>
			<td>
				<div class="primary">
				<small class="text_0">Primary <br> #0080ff</small>
				</div>
			</td>
			<td>
				<div class="secondary">
					<small class="text_0">secondary <br> #39ac73 </small>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ligth">
					<small class="text_1">light <br> #f2f2f2</small>
				</div>
			</td>
			<td>
				<div class="medium-light">
					<small class="text_1">medium-light <br> #999999</small>
				</div>
			</td>
			<td> 
				<div class="dark">
					<small class="text_0">Dark <br> #0d0d0d</small>
				</div>
			</td>	
		</tr>
		<tr>
			<td>
				<div class="warning">
					<small class="text_2">Warning <br> #FFA500</small>
				</div>
			</td>	

			<td>
				<div class="danger">
					<small class="text_2">Danger <br> #FF0000</small>
				</div>
			</td>	
			<td>
				<div class="success">
					<small class="text_2">Success <br> #00FF00</small>
				</div>
			</td>	

			<td>
				<div class="info">
					<small class="text_2">Info <br> #0000FF</small>
				</div>
			</td>	
		</tr>
	</table>
</div>
<br><br><br>

<!-- ########## les  typos -->

<div>
	<div class="Typo_container"> <h1> Les typographies </h1></div>
	<div>
		<h1 class="titre">Titre typo</h1>
		<span>
		<p class="text-normal">Texte normal <p>
		</span>
	</div>
	<div>
		<h1 class="hd1">Heading 1</h1>
	</div>
	<div>
		<h2 class="hd2">Heading 2</h2>
	</div>
	<div>
		<h3 class="hd3">Heading 3</h3>
	</div>
	<div>
		<h4 class="hd4">Heading 4</h4>
	</div>
	<div>
		<h5 class="hd5">Heading 5</h5>
	</div>
	<div>
		<h6 class="hd6">Heading 6</h6>
	</div>
	<div>
		<p class="para-typo">Pargraphe</p>
	</div>
	<div>
		<p class="lead">Paragraphe important</p>
	</div>	
	<div>
		<p class="squote">bonne citation</p>
	</div>	

	<div>
		<ul class="u-list"> 
			<div>Liste sans ordre</div> 
		</ul>
	</div>	
	<div>
		<ul class="o-list"> 
			<div>Liste avec ordre</div> 
		</ul>
	</div>	
	<div>
		<ul> 
			<div><li class="item">Liste item</li></div> 
		</ul>
	</div>

</div>

<!-- ########## les  boutons -->
<div>
	<div> <h1> Les boutons </h1></div>
	<div><h2>Les boutons normaux</h2></div>
	<div>
		<table>
			<tr>
				<th>
					<div>
						<button class="btn-primary" type="button" >Bouton primary</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-danger" type="button" >Bouton danger</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-warning" type="button" >Bouton warning</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-success" type="button" >Bouton success</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-info" type="button" >Bouton info</button>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<br><br><br>
	<div><h2>Les boutons outline</h2></div>
	<div>
		<table>
			<tr>
				<th>
					<div>
						<button class="btn-outline-primary" type="button" >Bouton primary</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-outline-danger" type="button" >Bouton danger</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-outline-warning" type="button" >Bouton warning</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-outline-success" type="button" >Bouton success</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-outline-info" type="button" >Bouton info</button>
					</div>
				</th>
			</tr>
		</table>
	</div>
		<br><br><br>
	<div><h2>Les boutons small</h2></div>
	<div>
		<table>
			<tr>
				<th>
					<div>
						<button class="btn-sml-primary" type="button" >
							<small>Bouton primary</small>
						</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-sml-danger" type="button" >
							<small>Bouton danger</small>
						</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-sml-warning" type="button" >
							<small>Bouton warning</small>
						</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-sml-success" type="button" >
							<small>Bouton success</small>
						</button>
					</div>
				</th>
				<th>
					<div>
						<button class="btn-sml-info" type="button" >
							<small>Bouton info</small>
						</button>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<br><br><br>
	<div><h2>Les boutons big</h2></div>
	<div>
		<table>
			<tr>
				<td>
					<div class="bg">
						<button class="btn-bg-primary" type="button" >Bouton primary</button>
					</div>
				</td>
				<td>
					<div class="bg">
						<button class="btn-bg-danger" type="button" >Bouton danger</button>
					</div>
				</td>
				<td>
					<div class="bg">
						<button class="btn-bg-warning" type="button" >Bouton warning</button>
					</div>
				</td>
				<td>
					<div class="bg">
						<button class="btn-bg-success" type="button" >Bouton success</button>
					</div>
				</td>
				<td>
					<div class="bg">
						<button class="btn-bg-info" type="button" >Bouton info</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div>
	<div><h1>Les iconographies</h1></div>
	<div>
		<table>
			<tr>
				<td>
					<i class="fas fa-award" ></i> 		
					<i class="fas fa-ban" ></i> 	 	
					<i class="fas fa-barcode" ></i> 	 	
					<i class="fas fa-bars" ></i> 	 	
					<i class="fas fa-beer" ></i> 	 	
					<i class="fas fa-bell" ></i> 	 	
					<i class="far fa-bell" ></i> 	 	
					<i class="fas fa-bell-slash" ></i> 	 	
					<i class="far fa-bell-slash" ></i> 
				</td>
				<td>
					<i class="fas fa-blog" ></i> 	 	
					<i class="fas fa-bug" ></i> 	 	
					<i class="fas fa-bullhorn" ></i> 	 	
					<i class="fas fa-bullseye" ></i> 	 	
					<i class="fas fa-calculator" ></i> 	 	
					<i class="fas fa-calendar" ></i> 	 	
					<i class="far fa-calendar" ></i> 	 	
					<i class="fas fa-calendar-alt" ></i> 	 	
					<i class="far fa-calendar-alt" ></i> 	 	
					<i class="fas fa-calendar-check" ></i> 	 
				</td>	
				<td>
					<i class="far fa-calendar-check" ></i> 	 	
					<i class="fas fa-calendar-minus" ></i> 	 	
					<i class="far fa-calendar-minus" ></i> 	 	
					<i class="fas fa-calendar-plus" ></i> 	 	
					<i class=" far fa-calendar-plus"></i> 	
					<i class="far fa-calendar-times" ></i> 	 	
					<i class="fas fa-certificate" ></i> 	 	
				</td>	
				<td>
					<i class="fas fa-check" ></i> 	 	
					<i class="fas fa-check-circle" ></i> 	 	
					<i class="fas fa-check-square" ></i> 	 	
					<i class="fas fa-check-double" ></i> 	 	
					
				</td>	
			</tr>
			<tr>
				<td>
					<i class="fas fa-apple-alt"></i>
					<i class="fas fa-atom"></i>
					<i class="fas fa-award"></i>
					<i class="fas fa-bell"></i>
					<i class="far fa-bell"></i>
				</td>
				<td>
					<i class="fas fa-bell-slash"></i>
					<i class="far fa-bell-slash"></i>
					<i class="fas fa-book-open"></i>
					<i class="fas fa-book-reader"></i>
					<i class="far fa-chalkboard"></i>
				</td>
				<td>
					<i class="fas fa-chalkboard-teacher"></i>
					<i class="fas fa-graduation-cap"></i>
					<i class="fas fa-laptop-code"></i>
					<i class="fas fa-microscope"></i>
					<i class="far fa-music"></i>
				</td>
				<td>
					<i class="fas fa-school"></i>
					<i class="fas fa-shapes"></i>
					<i class="fas fa-theater-masks"></i>
					<i class="fas fa-bell"></i>
					<i class="far fa-bell"></i>
					<i class="fas fa-circle" ></i> 	
					<i class="far fa-circle" ></i> 	
					<i class="fas fa-clipboard" ></i>
				</td> 
				<td>	
					<i class="far fa-clipboard" ></i> 	
					<i class="fas fa-clone" ></i> 	
					<i class="far fa-clone" ></i> 	
					<i class="fas fa-cloud" ></i> 	
					<i class="fas fa-cloud-download-alt" ></i> 	
					<i class="fas fa-cloud-upload-alt" ></i> 	
					<i class="fas fa-coffee" ></i>	
					<i class="fas fa-cog " ></i>	
					<i class="fas fa-cogs" ></i> 	
					<i class="fas fa-copy " ></i>

				<td>
					<i class="far fa-copy"></i> 	
					<i class="fas fa-cut "></i>	
					<i class="fas fa-database "></i>	
					<i class="fas fa-dot-circle "></i>	
					<i class="far fa-dot-circle "></i>	
					<i class="fas fa-download "></i>	
					<i class="fas fa-edit "></i>	
					<i class="far fa-edit" ></i>	
				</td>

				</td>
			</tr>
		</table>
	</div>
</div>
<br><br><br>

<div>
	<div>
		<H1> Les inputs des formulaires</H1> <br>
		<h2> Les inputs type texte:</h2>
		<div class="in-1">
			<input class="in-text-1" type="text" name="first_name">
		</div>
		<div class="in-1">
			<input type="text" name="first_name" value="first_name">
		</div>
		<div class="in-1">
			<input type="text" name="first_name" value="first_name" disabled>
		</div>
		<div class="in-1">
			<input type="text" name="first_name" placeholder="first_name" >
		</div>
		<div class="in-1">
			<input type="password" name="password" placeholder="password">
		</div>
		<br><br>

		<h2> Les inputs radio, checkbox,search, submit et datetime-local</h2> <br>
		<div class="in-2">
			<input type="radio" name="radio">First_name
			<input type="radio" name="radio">Last_name
			<input type="radio" name="radio">Age
		</div>
		<div class="in-2">
			<input type="checkbox" name="first_name">
		</div>
		<br><br>
		<div class="in-3">
			<input type="datetime-local" name="datetime">
		</div>
		<div class="in-3">
			<input type="search" name="first_name">
		</div>
		<div class="in-3">
			<input type="submit" name="Envoyer">
		</div>
		<br><br>
		<div>
		<textarea class="txt-area" rows="4" cols="50"></textarea>
		</div>
		<div class="in-4">
			<select autofocus>
				<option name="option1">Dropdown</option>
				<option name="option1">Option2</option>
				<option name="option1">Option3</option>
				<option name="option1">Option4</option>
				<option name="option1">Option5</option>
			</select>
		</div>
	</div>
</div>

<div>
	<h1>Les Listes</h1> <br>
	<div class="list-group">
			<a href="#" class="href-item">
				<div class="item-list-1">
					<h4><span id="h1-span">Heading pour Liste groupe</span></h4>
					<h5> liste de groupe pour le kitUI</h5>
					<div>
						<P> Nous sommes en train d'editer une liste pour notre
						prochain projet </P>
						<small>premiere list</small>
					</div>
				</div>
			</a>
			<a href="#" class="href-item" >
				<div class="item-list-2">
					<h4> <span id="h1-span">Heading pour Liste groupe </span></h4>
					<h5> liste de groupe pour le kitUI</h5>
					<div>
						<P> Nous sommes en train d'editer une liste pour notre
					prochain projet </P> 
						<small>seconde liste</small>
					</div>
				</div>
			</a>
			<a href="#" class="href-item">
				<div class="item-list-3">
					<h4> <span id="h1-span">Heading pour Liste groupe </span> </h4>
					<h5> liste de groupe pour le kitUI</h5>
					<div>
						<P> Nous sommes en train d'editer une liste pour notre
					prochain projet </P> 
						<small>troisième liste</small>
					</div>
				</div>
		</a>
	</div>
</div>

                 



<!--
	
	"fas fa-ellipsis-h" 	
	"fas fa-ellipsis-v" 	
	"fas fa-envelope" 	
	"far fa-envelope "	
	"fas fa-envelope-open "	
	"far fa-envelope-open" 	
	"fas fa-eraser" 	
	"fas fa-exclamation "	
	"fas fa-exclamation-circle" 	
	"fas fa-exclamation-triangle" 	
	"fas fa-external-link-alt" 	
	"fas fa-external-link-square-alt" 	
	"fas fa-eye" 		
	"far fa-eye "	 	
	"fas fa-eye-slash" 	 	
	"far fa-eye-slash"	 	
	"fas fa-file "		
	"far fa-file" 		
	"fas fa-file-al" 
	far fa-file-alt 	 	
	fas fa-file-download 	 	
	fas fa-file-export 	 	
	fas fa-file-import 	 	
	fas fa-file-upload 	 	
	fas fa-filter 	 	
	fas fa-fingerprint 	 	
	fas fa-flag 	 	
	far fa-flag 	 	
	fas fa-flag-checkered 	 	
	fas fa-folder 	 	
	far fa-folder 	 	
	fas fa-folder-open 	 	
	far fa-folder-open 	 	
	far fa-frown 	&#xf119; 	
	fas fa-glasses 	&#xf530; 	
	fas fa-grip-lines 	&#xf7a4; 	
	fas fa-grip-lines-vertical 	&#xf7a5; 	
	fas fa-grip-horizontal 	&#xf58d; 	
	fas fa-grip-vertical 	&#xf58e; 	
	fas fa-hashtag 	&#xf292; 	
	fas fa-heart 	&#xf004; 	
	far fa-heart 	&#xf004; 	
	fas fa-history 	&#xf1da; 	
	fas fa-home 	&#xf015; 	
	fas fa-i-cursor 	&#xf246; 	
	fas fa-info 	&#xf129; 	
	fas fa-info-circle 	&#xf05a; 	
	fas fa-language 	&#xf1ab; 	
	fas fa-magic 	&#xf0d0; 	
	fas fa-marker 	&#xf5a1; 	
	fas fa-medal 	&#xf5a2; 	
	fas fa-meh 	&#xf11a; 	
	far fa-meh 	&#xf11a; 	
	fas fa-microphone 	&#xf130; 	
	fas fa-microphone-alt 	&#xf3c9; 	
	fas fa-microphone-slash 	&#xf131; 	
	fas fa-minus 	&#xf068; 	
	fas fa-minus-circle 	&#xf056; 	
	fas fa-minus-square 	&#xf146; 	
	far fa-minus-square 	&#xf146; 	
	fas fa-paste 	&#xf0ea; 	
	fas fa-pen 	&#xf304; 	
	fas fa-pen-alt 	&#xf305; 	
	fas fa-pen-fancy 	&#xf5ac; 	
	fas fa-pencil-alt 	&#xf303; 	
	fas fa-plus 	&#xf067; 	
	fas fa-plus-circle 	&#xf055; 	
	fas fa-plus-square 	&#xf0fe; 	
	far fa-plus-square 	&#xf0fe; 	
	fas fa-poo 	&#xf2fe; 	
	fas fa-qrcode 	&#xf029; 	
	fas fa-question 	&#xf128; 	
	fas fa-question-circle 	&#xf059; 	
	far fa-question-circle 	&#xf059; 	
	fas fa-quote-left 	&#xf10d; 	
	fas fa-quote-right 	&#xf10e; 	
	fas fa-redo 	&#xf01e; 	
	fas fa-redo-alt 	&#xf2f9; 	
	fas fa-reply 	&#xf3e5; 	
	fas fa-reply-all 	&#xf122; 	
	fas fa-rss 	&#xf09e; 	
	fas fa-rss-square 	&#xf143; 	
	fas fa-save 	&#xf0c7; 	
	far fa-save 	&#xf0c7; 	
	fas fa-screwdriver 	&#xf54a; 	
	fas fa-search 	&#xf002; 	
	fas fa-search-minus 	&#xf010; 	
	fas fa-search-plus 	&#xf00e; 	
	fas fa-share 	&#xf064; 	
	fas fa-share-alt 	&#xf1e0; 	
	fas fa-share-alt-square 	&#xf1e1; 	
	fas fa-share-square 	&#xf14d; 	
	far fa-share-square 	&#xf14d; 	
	fas fa-shield-alt 	&#xf3ed; 	
	fas fa-sign-in-alt 	&#xf2f6; 	
	fas fa-sign-out-alt 	&#xf2f5; 	
	fas fa-signal 	&#xf012; 	
	fas fa-sitemap 	&#xf0e8; 	
	fas fa-sliders-h 	&#xf1de; 	
	fas fa-smile 	&#xf118; 	
	far fa-smile 	&#xf118; 	
	fas fa-sort 	&#xf0dc; 	
	fas fa-sort-alpha-down 	&#xf15d; 	
	fas fa-sort-alpha-up 	&#xf15e; 	
	fas fa-sort-amount-down 	&#xf160; 	
	fas fa-sort-amount-up 	&#xf161; 	
	fas fa-sort-down 	&#xf0dd; 	
	fas fa-sort-numeric-down 	&#xf162; 	
	fas fa-sort-numeric-up 	&#xf163; 	
	fas fa-sort-up 	&#xf0de; 	
	fas fa-star 	&#xf005; 	
	far fa-star 	&#xf005; 	
	fas fa-star-and-crescent 	&#xf699; 	
	fas fa-star-half 	&#xf089; 	
	far fa-star-half 	&#xf089; 	
	fas fa-sync 	&#xf021; 	
	fas fa-sync-alt 	&#xf2f1; 	
	fas fa-thumbs-down 	&#xf165; 	
	far fa-thumbs-down 	&#xf165; 	
	fas fa-thumbs-up 	&#xf164; 	
	far fa-thumbs-up 	&#xf164; 	
	fas fa-times 	&#xf00d; 	
	fas fa-times-circle 	&#xf057; 	
	far fa-times-circle 	&#xf057; 	
	fas fa-toggle-off 	&#xf204; 	
	fas fa-toggle-on 	&#xf205; 	
	fas fa-tools 	&#xf7d9; 	
	fas fa-trash 	&#xf1f8; 	
	fas fa-trash-alt 	&#xf2ed; 	
	far fa-trash-alt 	&#xf2ed; 	
	fas fa-trash-restore 	&#xf829; 	
	fas fa-trash-restore-alt 	&#xf82a; 	
	fas fa-trophy 	&#xf091; 	
	fas fa-undo 	&#xf0e2; 	
	fas fa-undo-alt 	&#xf2ea; 	
	fas fa-upload 	&#xf093; 	
	fas fa-user 	&#xf007; 	
	far fa-user 	&#xf007; 	
	fas fa-user-alt 	&#xf406; 	
	fas fa-user-circle 	&#xf2bd; 	
	far fa-user-circle 	&#xf2bd; 	
	fas fa-volume-down 	&#xf027; 	
	fas fa-volume-mute 	&#xf6a9; 	
	fas fa-volume-off 	&#xf026; 	
	fas fa-volume-up 	&#xf028; 	
	fas fa-wifi 	&#xf1eb;

	-->